<main class="main">
  <div class="main-container" id="content">
    <div class="row">

      <div class="otsikko">
        <h1>Kyberturvakysely</h1>
        <p>Tämä kysely kattaa kyberturvallisuuteen liittyvät kysymykset ja sekä keskeiset kyberturvallisuuden
          osa-alueet</p>
      </div>

      <div class="kysely" [hidden]="kyselynPiilotus == 1">
        <h2>{{ Kysymykset[kysymysIndexi].Kysymys }}</h2>

        <div class="kysymykset">
          <p *ngFor="let vastaus of Kysymykset[kysymysIndexi].Vastaukset">
            <label class="custom-checkbox">
              <input type="checkbox" name="id" (change)="onCheckboxChange($event, vastaus)"
                [checked]="vastaukset.includes(vastaus)">
              <span class="checkmark"></span>
            </label>
            {{ vastaus }}
          </p>
        </div>
      </div>

      <div class="napit">
        <button [hidden]="kyselynPiilotus == 1 || kysymysIndexi === 0 " (click)="edellinenKysymys()">{{ edellinen
          }}</button>
        <button [hidden]="kyselynPiilotus == 1" (click)="seuraavaKysymys()">{{ seuraava }}</button>
      </div>

      <div class="tulokset" [hidden]="kyselynPiilotus == 0">
        <p *ngIf="isLoading">Rakennetaan raporttia...</p>
        <div *ngIf="isLoading" class="spinner-container">
          <div class="spinner"></div>
        </div>
        <div *ngIf="!isLoading" class="ai" [innerHTML]="aiVastaus"></div>
        <div *ngIf="!isLoading">
          <button (click)="generatePDF()">{{ "Tallenna raportti" }}</button>
        </div>
      </div>

    </div>
  </div>
</main>

<router-outlet></router-outlet>